<div class="header-container">
  <div class="content-data-store">
    <div class="content-logo">
      <img src="assets/images/logo1.png" alt="logo1">
      <img src="assets/images/logo.png" alt="logo" style="margin-left: 10px;">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search Products">
      <select>
        <option>All categories</option>
        <option>Category 1</option>
        <option>Category 2</option>
        <!-- Adicione mais opções conforme necessário -->
      </select>
      <button>
        <img src="assets/images/search.png" alt="Search">
      </button>
    </div>
    <div class="content-data-enterprise">
      <span>Quem somos</span>
      <span>Nosso blog</span>
      <span>Contatos</span>
      <span>Suporte</span>
    </div>
    <div class="content-social-media">
      <img src="assets/images/instagram.png" alt="instagram">
      <img src="assets/images/facebook.png" alt="facebook">
      <img src="assets/images/whatssapp.png" alt="whats">
    </div>
  </div>
  <div class="content-signin">
    <div style="margin-left: 20px;">
      <span>
        <img src="assets/images/categories-search.png" alt="category">Categorias
      </span>
    </div>
    <div>
      Promoções Inverno confiram
    </div>
    <div style="margin-right: 20px;display: flex;">
      <span>
        <img src="assets/images/signin.png" alt="">Signin
      </span>
      <span>
        <img src="assets/images/favorites.png" alt="">Favoritos
      </span>
      <span #cart></span>
    </div>
  </div>
</div>
