<div class="menu-container">
  <!-- Modal / Dropdown -->
  <div class="menu-dropdown" [ngClass]="{'show': isMenuVisible}">
    <div class="menu-section">
      <h3>Shoe & Bag</h3>
      <ul>
        <li>Casual Shoes</li>
        <li>Boots</li>
        <li>Sandals</li>
        <li>Slippers</li>
      </ul>
      <h3>Shoe & Bag</h3>
      <ul>
        <li>Casual Shoes</li>
        <li>Boots</li>
        <li>Sandals</li>
        <li>Slippers</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Home Textile</h3>
      <ul>
        <li>Bedding</li>
        <li>Pillows</li>
        <li>Handkerchief Towels</li>
        <li>Curtain</li>
      </ul>
      <h3>Home Textile</h3>
      <ul>
        <li>Bedding</li>
        <li>Pillows</li>
        <li>Handkerchief Towels</li>
        <li>Curtain</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Party Supplies</h3>
      <ul>
        <li>Event & Party</li>
        <li>Christmas</li>
        <li>Artificial Decorations</li>
        <li>Wedding</li>
      </ul>
      <h3>Home Textile</h3>
      <ul>
        <li>Bedding</li>
        <li>Pillows</li>
        <li>Handkerchief Towels</li>
        <li>Curtain</li>
      </ul>
    </div>
    <div class="menu-section">
      <h3>Clothes</h3>
      <ul>
        <li>Bottoms</li>
        <li>Women's Clothing</li>
        <li>T-Shirts and Tops</li>
        <li>Dresses</li>
        <li>Bottoms</li>
        <li>Women's Clothing</li>
        <li>T-Shirts and Tops</li>
        <li>Dresses</li>
      </ul>
    </div>

    <div class="menu-image">
      <img src="assets/images/show-menu.png" alt="Image description">
    </div>
  </div>
</div>
