<div class="footer-container">
  <div class="content-register-email">
    <h1>Luminae Store</h1>
    <span>Registre seu email para nao perder nossas ofertas e novidades</span>
    <div class="email-input">
      <input type="text" placeholder="Enter your email">
      <button>
        <img src="assets/images/send.png" alt="SendEmail">
      </button>
    </div>
  </div>
  <div class="container-data-store">
    <div class="content-data-store">
      <div class="texts-content">
        <strong>Compania</strong>
        <span>Quem somos</span>
        <span>Nossa loja</span>
        <span>Contatos</span>
      </div>
      <div class="texts-content">
        <strong>Carreira</strong>
        <span>Trabalhe Conosco</span>
        <span>Nossa loja</span>
        <span>Contatos</span>
      </div>
      <div class="texts-content">
        <strong>Comprar</strong>
        <span>Pagamentos</span>
        <span>Opções de entrega</span>
        <span>Compra protegida</span>
      </div>
      <div class="texts-content">
        <strong>Ajuda</strong>
        <span>Contatos</span>
        <span>FAQ</span>
        <span>Politicas Privacidade</span>
      </div>
    </div>
  </div>
  <div class="container-data-payments">
    <div class="payments-info">
      <img src="assets/images/visa.png" alt="Visa">
      <img src="assets/images/mastercard.png" alt="Mastercard">
    </div>
    <div style="width: 90%; height: 2px; border: 1px solid #D9D9D9; margin: 10px 0 0 0;"></div>
    <div class="adress-info">
      <span>Rua Manoel Sobrinho, 1274, Botucatu - SP</span>
      <span>&copy; 2023 Copyright reserved for lumine shop</span>
      <span>Siga nos nas redes sociais</span>
    </div>
  </div>
</div>
